@import "./variables.less";
.about-company-container {
  width: 100%;
  margin-top: 10em;
  .flex-setup(center, space-between, row);

  .about-company-text {
    width: 47.5%;
    .flex-setup(flex-start, space-around, column);

    h2 {
      font-size: 2rem;
      font-weight: 700;
      margin-bottom: 1em;

      span {
        color: @dark-orange;
      }
    }

    p {
      color: @dark-gray-transparent;
    }
  }

  .about-company-image {
    width: 47.5%;
    height: 600px;
    .background-image-setup("../images/shared/desktop/image-best-gear.jpg");
  }
}

@media screen and (max-width: 1023px) {
  .about-company-container {
    flex-direction: column-reverse;

    .about-company-text {
      width: 100%;
      text-align: center;
      align-items: center;

      h2 {
        margin: 1em 0;
        text-align: center;
      }

      p {
        text-align: center;
      }
    }
    .about-company-image {
      width: 100%;
      height: 350px;
      background-image: url("../images/shared/mobile/image-best-gear.jpg");
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .about-company-container {
    .about-company-text {
      h2 {
        font-size: 3rem;
      }
    }
  }
}
