@import "./variables.less";

.cart-dialog-container {
  width: 25%;
  min-height: 200px;
  top: 100px;
  left: 65%;
  border: none;
  box-sizing: border-box;
  padding: 2em;
  border-radius: 10px;
  font-family: @font;

  &::backdrop {
    background-color: @dark-gray-transparent;
  }

  .cart-modal-container {
    width: 100%;
    .flex-setup(stretch, space-between, column);

    .cart-top {
      .flex-setup(center, space-between, row);

      h3 {
        font-size: 1.1rem;
        font-weight: bold;
      }
      .cart-remove-btn {
        background-color: @white;
        border: none;
        outline: none;
        text-decoration: underline;
        color: @dark-gray;
        cursor: pointer;
        transition: 0.3s linear;

        &:hover {
          color: @dark-orange;
        }
      }

      .cart-close-btn{
        /* https://www.flaticon.com/free-icons/close - Close icons created by ariefstudio - Flaticon */
        width:15px; 
        height:15px; 
        background: none; 
        border:none; 
        margin-left: 1em; 
        cursor: pointer;
        .background-image-setup('../images/cart/close.png'); 
      }
    }

    .cart-content-container {
      .flex-setup(center, center, column);
      margin: 1.5em 0;
      .empty-cart-component {
        width: 100%;
        height: 100px;
        .flex-setup(center, center, row);

        h5 {
          font-size: 0.8rem;
          color: @gray;
        }
      }

      .cart-item-container {
        width: 100%;
        height: 60px;
        margin-top: 1em;
        .flex-setup(center, space-between, row);

        img {
          width: 60px;
          height: 60px;
          border-radius: 10px;
          margin-right: 0.5em;
        }

        .cart-item-info {
          width: 35%;
          h5 {
            font-size: 1rem;
            font-weight: 800;
          }

          .cart-price {
            color: @gray;
            font-size: 0.9rem;
            font-weight: 700;
          }
        }

        .cart-quantity-widget {
          width: 35%;
          .cart-quantity-container {
            width: 100%;
            height: 35px;
            .flex-setup(center, center, row);
          }

          .cart-quantity-input {
            width: 60%;
            height: 100%;
            border: none;
            outline: none;
            background-color: @gray-transparent;
            text-align: center;
          }

          .cart-quantity-btn {
            width: 20%;
            height: 100%;
            background-color: @gray-transparent;
            color: @gray;
            border: none;
            outline: none;
            cursor: pointer;
            transition: 0.3s linear;

            &:hover {
              color: @dark-orange;
            }
          }
        }
      }
    }

    .cart-bottom {
      .flex-setup(stretch, space-between, column);

      .cart-price-container {
        .flex-setup(stretch, space-between, row);
        h4 {
          font-size: 0.9rem;
          color: @gray;
        }

        .cart-total-price {
          font-weight: 800;
        }
      }

      .cart-checkout-btn:extend(.cta-button){
        width: 100%;
        margin-top: 1.5em;
        background-color: @dark-orange;

        &:hover {
          background-color: @bright-orange;
        }
      }
    }
  }
}

@media screen and (max-width:767px){
  .cart-dialog-container{
    width: 95%; 
    top:50%; 
    left:50%; 
    transform: translate(-50%, -50%);
  }
}
