@import "./variables.less";

.category-banner {
  width: 100%;
  height: 200px;
  background-color: @dark-gray;
  .flex-setup(center, center, row);

  h1 {
    font-size: 2rem;
    color: @white;
  }
}

.category-list-element {
  color: @white;
  text-decoration: none;
  letter-spacing: 0.8px;
  font-size: 0.9rem;
  font-weight: bolder;
  transition: 0.3s linear;

  &:hover {
    color: @dark-orange;
    cursor: pointer;
  }
}
