@import './variables.less';

.checkout-cart-container {
    width: 28%;
    height: auto;
    background-color: @white;
    border: 2px solid @lighter-gray;
    border-radius: 15px;
    padding: 2em;
    .flex-setup(flex-start, space-between, column);

    .checkout-items-container {
      width: 100%;
      height: auto;
      margin-top: 1em;
      .flex-setup(center, space-between, column);
    }

    .checkout-costs-container {
        width: 100%;
        height: auto;
        margin-top: 1.1em;
        .flex-setup(center, space-between, column);
      
        .cost-title {
          color: @gray;
          font-size: 1rem;
        }
      
        .checkout-cost {
          width: 100%;
          margin-top: 1em;
          .flex-setup(center, space-between, row);
      
          .cost-value {
            color: @black;
            font-size: 1.1rem;
            font-weight: 800;
          }
        }
        .checkout-grand-total {
          width: 100%;
          margin-top: 1.5em;
          .flex-setup(center, space-between, row);
      
          .grand-total-value {
            color: @dark-orange;
            font-size: 1.1rem;
            font-weight: 800;
          }
        }
      }

      .checkout-buy-btn:extend(.cta-button) {
        width: 100%;
        margin-top: 2em;
        background-color: @dark-orange;
      
        &:hover {
          background-color: @bright-orange;
        }

        &:disabled{
          background-color: @disabled;
          cursor: default;
        }
      }
  }

