@import './variables.less'; 

.navbar-desktop{
    width:80%; 
    height: 90px;
    background-color: @dark-gray; 
    font-family: @font; 
    border-bottom: .7px solid @light-gray;
    .flex-setup(center, center, row);

    .logo-container{
        width:25%; 
        .navbar-logo{
            color:@white;
            text-decoration: none;
            font-size: 1.5rem; 
            font-weight: 600;
        }
    }
    .navbar-categories-list{
        width:50%;
        list-style: none;
        .flex-setup(center, space-between, row);

        .navbar-list-element{
            color: @white;
            text-decoration: none;
            letter-spacing: .8px;
            font-size: .9rem;
            font-weight: bolder;
            transition: .3s linear;

            &:hover{
                color:@dark-orange; 
                cursor: pointer;
            }
        }
    }

    .cart-button-container{
        width:25%; 
        .flex-setup(center, flex-end, row);

        .cart-button{
            width:30px;
            height:30px; 
            background: none;
            border:none;
            .background-image-setup('../images/shared/desktop/icon-cart.svg'); 
            background-size: auto;
            color: @white;
            cursor: pointer;
        }
    }
}