@import './variables.less'; 

.navbar{
    width:80%; 
    height: 90px;
    background-color: @dark-gray; 
    border-bottom: .7px solid @light-gray;
}

.navbar-desktop:extend(.navbar){
    .flex-setup(center, center, row);

    .navbar-logo-container{
        width:25%; 
        .navbar-logo{
            color:@white;
            text-decoration: none;
            font-size: 1.5rem; 
            font-weight: 600;
        }
    }
    .navbar-categories-list{
        width:50%;
        list-style: none;
        .flex-setup(center, space-between, row);
    }

    .cart-button-container{
        width:25%; 
        .flex-setup(center, flex-end, row);

        .cart-button{
            width:30px;
            height:30px; 
            background: none;
            border:none;
            .background-image-setup('../images/shared/desktop/icon-cart.svg'); 
            background-size: auto;
            color: @white;
            outline:none; 
            cursor: pointer;
        }
    }
}

.navbar-mobile:extend(.navbar){
    .flex-setup(center, center, row); 

    .navbar-mobile-logo-list{
        width: 50%; 
        .flex-setup(center, space-between, row); 

        .navbar-logo{
            color:@white;
            text-decoration: none;
            font-size: 1.5rem; 
            font-weight: 600;
        }

        .navbar-mobile-list{
           
        }
    }

    .cart-button-container{
        width:50%; 

        .cart-button{
            width:30px;
            height:30px; 
            background: none;
            border:none;
            .background-image-setup('../images/shared/desktop/icon-cart.svg'); 
            background-size: auto;
            color: @white;
            outline:none; 
            cursor: pointer;
        }
    }
}