@dark-orange: rgb(216,125,74);
@bright-orange: rgb(251,175,133); 
@white: rgb(255,255,255); 
@gray: rgba(0, 0, 0, 0.453); 

.flex-setup(@align-items, @justify-content){
    display:flex; 
    align-items:@align-items; 
    justify-content: @justify-content;
}

.product-preview-container{
    width:100%; 
    height:auto; 
    .flex-setup(center, space-between);
    margin-bottom: 13em;

    img{
        width:45%; 
    }

    .product-details{
        width:50%; 
        height:400px; 
        box-sizing: border-box;
        padding:4em; 
        .flex-setup(left, space-between); 
        flex-direction: column;

        h2{
            font-size: 2rem;
            font-weight: bolder;
            max-width: 50%;
        }

        p{
            color:@gray;
        }

        .product-link-btn{
            width:30%;
            height:50px; 
            background-color: @dark-orange;
            color:@white; 
            border: none;
            transition: .3s linear; 
            cursor: pointer;
        }

        .product-link-btn:hover{
            background-color: @bright-orange;
        }
    }
}

.reverse{
    flex-direction: row-reverse;
}