*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}
.cta-button {
  height: 45px;
  font-weight: bolder;
  color: #ffffff;
  cursor: pointer;
  border: none;
  transition: 0.3s linear;
}
dialog {
  width: 25%;
  min-height: 200px;
  top: 100px;
  left: 65%;
  border: none;
  box-sizing: border-box;
  padding: 2em;
  border-radius: 10px;
  font-family: "Manrope", sans-serif;
}
dialog::backdrop {
  background-color: rgba(25, 25, 25, 0.525);
}
dialog .cart-modal-container {
  width: 100%;
  height: 300px;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-direction: column;
}
dialog .cart-modal-container .cart-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
dialog .cart-modal-container .cart-top h3 {
  font-size: 1.1rem;
  font-weight: bold;
}
dialog .cart-modal-container .cart-top .cart-remove-btn {
  background-color: #ffffff;
  border: none;
  outline: none;
  text-decoration: underline;
  color: #191919;
  cursor: pointer;
  transition: 0.3s linear;
}
dialog .cart-modal-container .cart-top .cart-remove-btn:hover {
  color: #d87d4a;
}
dialog .cart-modal-container .cart-content-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 1.5em 0;
}
dialog .cart-modal-container .cart-content-container .cart-item-container {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
dialog .cart-modal-container .cart-content-container .cart-item-container img {
  width: 60px;
  height: 60px;
  border-radius: 10px;
}
dialog .cart-modal-container .cart-content-container .cart-item-container .cart-item-info h5 {
  font-size: 1rem;
  font-weight: 800;
}
dialog .cart-modal-container .cart-content-container .cart-item-container .cart-item-info .cart-price {
  color: #666666;
  font-size: 0.9rem;
  font-weight: 700;
}
dialog .cart-modal-container .cart-content-container .cart-item-container .cart-quantity-widget {
  width: 35%;
}
dialog .cart-modal-container .cart-content-container .cart-item-container .cart-quantity-widget .cart-amount-container {
  width: 100%;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
dialog .cart-modal-container .cart-content-container .cart-item-container .cart-quantity-widget .cart-amount-input {
  width: 60%;
  height: 100%;
  border: none;
  outline: none;
  background-color: rgba(241, 241, 241, 0.482);
  text-align: center;
}
dialog .cart-modal-container .cart-content-container .cart-item-container .cart-quantity-widget .cart-amount-btn {
  width: 20%;
  height: 100%;
  background-color: rgba(241, 241, 241, 0.482);
  color: #666666;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s linear;
}
dialog .cart-modal-container .cart-content-container .cart-item-container .cart-quantity-widget .cart-amount-btn:hover {
  color: #d87d4a;
}
dialog .cart-modal-container .cart-bottom {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-direction: column;
}
dialog .cart-modal-container .cart-bottom .cart-price-container {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-direction: row;
}
dialog .cart-modal-container .cart-bottom .cart-price-container h4 {
  font-size: 0.9rem;
  color: #666666;
}
dialog .cart-modal-container .cart-bottom .cart-price-container .cart-total-price {
  font-weight: 800;
}
dialog .cart-modal-container .cart-bottom .checkout-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  height: 40px;
  margin-top: 1.5em;
  font-size: 0.8rem;
  font-weight: 800;
  background-color: #d87d4a;
  color: #ffffff;
  text-decoration: none;
  transition: 0.3s linear;
}
dialog .cart-modal-container .cart-bottom .checkout-btn:hover {
  background-color: #fbaf85;
}
