*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}
.cta-button {
  height: 45px;
  font-weight: bolder;
  color: #ffffff;
  cursor: pointer;
  border: none;
  transition: 0.3s linear;
}
.category-banner {
  width: 100%;
  height: 200px;
  background-color: #191919;
  font-family: "Manrope", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.category-banner h1 {
  font-size: 2rem;
  color: #ffffff;
}
.category-list-element {
  color: #ffffff;
  text-decoration: none;
  letter-spacing: 0.8px;
  font-size: 0.9rem;
  font-weight: bolder;
  transition: 0.3s linear;
}
.category-list-element:hover {
  color: #d87d4a;
  cursor: pointer;
}
