*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}
.cta-button,
.checkout-container .summary-modal-dialog .summary-modal-container .back-to-home-btn,
.checkout-buy-btn {
  height: 45px;
  font-weight: bolder;
  color: #ffffff;
  cursor: pointer;
  border: none;
  transition: 0.3s linear;
}
.checkout-container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
}
.checkout-container .checkout-form-container {
  width: 70%;
  height: auto;
  background-color: #ffffff;
  border-radius: 15px;
  padding: 3em;
  border: 2px solid #cbcbcb;
}
.checkout-container .checkout-form-container .checkout-form-section {
  height: auto;
  margin-top: 70px;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: column;
}
.checkout-container .checkout-form-container .checkout-form-section h5 {
  color: #d87d4a;
}
.checkout-container .checkout-form-container .checkout-form-section label {
  font-size: 0.8rem;
  font-weight: 800;
}
.checkout-container .checkout-form-container .checkout-form-section input {
  width: 100%;
  height: 65px;
  border-radius: 10px;
  text-indent: 25px;
  border: 1px solid #cbcbcb;
  outline: none;
}
.checkout-container .checkout-form-container .checkout-form-section input:focus {
  border: 1px solid #d87d4a;
}
.checkout-container .checkout-form-container .checkout-form-section .checkout-input-container {
  width: 90%;
  height: 120px;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: column;
}
.checkout-container .checkout-form-container .checkout-form-section .billing-details-container {
  width: 100%;
  height: 200px;
  margin-top: 20px;
  display: grid;
  grid-template-columns: auto auto;
}
.checkout-container .checkout-form-container .checkout-form-section .shipping-info-container {
  width: 100%;
  height: 200px;
  margin-top: 20px;
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: auto auto;
  grid-template-areas: "address address" "zipCode city" "country";
}
.checkout-container .checkout-form-container .checkout-form-section .payment-details-container {
  width: 100%;
  height: auto;
  margin-top: 20px;
  display: grid;
  grid-template-columns: auto auto;
}
.checkout-container .checkout-form-container .checkout-form-section .payment-details-container .radio-input-container {
  width: 90%;
  height: 65px;
  border-radius: 10px;
  padding: 0 20px;
  border: 1px solid #cbcbcb;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  margin-bottom: 1em;
}
.checkout-container .checkout-form-container .checkout-form-section .payment-details-container .radio-input-container label {
  font-size: 1rem;
}
.checkout-container .checkout-form-container .checkout-form-section .payment-details-container .radio-input-container input[type="radio"] {
  -webkit-appearance: none;
  width: 25px;
  height: 25px;
  border: 1px solid #cbcbcb;
  border-radius: 50%;
  outline: none;
  margin-right: 20px;
}
.checkout-container .checkout-form-container .checkout-form-section .payment-details-container .radio-input-container input[type="radio"]:before {
  content: "";
  display: block;
  width: 60%;
  height: 60%;
  margin: 20% auto;
  border-radius: 50%;
}
.checkout-container .checkout-form-container .checkout-form-section .payment-details-container .radio-input-container input[type="radio"]:checked:before {
  background: #d87d4a;
}
.checkout-container .checkout-form-container .checkout-form-section .payment-details-container .radio-input-container:has(input[type="radio"]:checked) {
  border: 1px solid #d87d4a;
}
.checkout-container .checkout-form-container .payment-info-container {
  width: 100%;
  height: 100px;
  margin-top: 2em;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}
.checkout-container .checkout-form-container .payment-info-container img {
  width: 60px;
  height: 60px;
}
.checkout-container .checkout-form-container .payment-info-container p {
  color: rgba(25, 25, 25, 0.525);
  font-size: 0.9rem;
}
.checkout-container .checkout-cart-container {
  width: 28%;
  height: auto;
  background-color: #ffffff;
  border: 2px solid #cbcbcb;
  border-radius: 15px;
  padding: 2em;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
}
.checkout-container .checkout-cart-container .checkout-items-container {
  width: 100%;
  height: auto;
  margin-top: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.checkout-container .summary-modal-dialog {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  height: 700px;
  border-radius: 15px;
  border: none;
  padding: 3em;
}
.checkout-container .summary-modal-dialog .summary-modal-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
}
.checkout-container .summary-modal-dialog .summary-modal-container h1 {
  font-weight: 800;
}
.checkout-container .summary-modal-dialog .summary-modal-container small {
  color: #666666;
}
.checkout-container .summary-modal-dialog .summary-modal-container .summary-order-list {
  width: 100%;
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.checkout-container .summary-modal-dialog .summary-modal-container .summary-order-list .order-list-left {
  width: 60%;
  height: 100%;
  background-color: #f1f1f1;
  border-radius: 15px 0 0 15px;
  padding: 2em;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
}
.checkout-container .summary-modal-dialog .summary-modal-container .summary-order-list .order-list-right {
  width: 40%;
  height: 100%;
  background-color: #000000;
  border-radius: 0 15px 15px 0;
  padding: 2em;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: column;
}
.checkout-container .summary-modal-dialog .summary-modal-container .summary-order-list .order-list-right .order-list-grand-total {
  font-size: 1rem;
  color: #666666;
}
.checkout-container .summary-modal-dialog .summary-modal-container .summary-order-list .order-list-right .order-list-total-price {
  font-size: 1.2rem;
  font-weight: 800;
  color: #ffffff;
  margin-top: 0.5em;
}
.checkout-container .summary-modal-dialog .summary-modal-container .back-to-home-btn {
  width: 100%;
  background-color: #d87d4a;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  text-decoration: none;
  font-size: 0.9rem;
}
.checkout-container .summary-modal-dialog .summary-modal-container .back-to-home-btn:hover {
  background-color: #fbaf85;
}
.checkout-container .summary-modal-dialog::backdrop {
  background-color: rgba(25, 25, 25, 0.525);
}
.checkout-container .checkout-item-container {
  width: 100%;
  height: 60px;
  margin-top: 0.9em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.checkout-container .checkout-item-container .checkout-item-info-container {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}
.checkout-container .checkout-item-container .checkout-item-info-container img {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  margin-right: 0.9em;
}
.checkout-container .checkout-item-container .checkout-item-info-container .checkout-item-info {
  width: 45%;
}
.checkout-container .checkout-item-container .checkout-item-info-container .checkout-item-info h5 {
  font-size: 1rem;
  font-weight: 800;
}
.checkout-container .checkout-item-container .checkout-item-info-container .checkout-item-info .checkout-price {
  color: #666666;
  font-size: 0.9rem;
  font-weight: 700;
}
.checkout-container .checkout-item-container .checkout-item-quantity {
  width: 10%;
  color: #666666;
  font-size: 0.9rem;
  font-weight: 800;
}
.checkout-costs-container {
  width: 100%;
  height: auto;
  margin-top: 1.1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.checkout-costs-container .cost-title {
  color: #666666;
  font-size: 1rem;
}
.checkout-costs-container .checkout-cost {
  width: 100%;
  margin-top: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.checkout-costs-container .checkout-cost .cost-value {
  color: #000000;
  font-size: 1.1rem;
  font-weight: 800;
}
.checkout-costs-container .checkout-grand-total {
  width: 100%;
  margin-top: 1.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.checkout-costs-container .checkout-grand-total .grand-total-value {
  color: #d87d4a;
  font-size: 1.1rem;
  font-weight: 800;
}
.checkout-buy-btn {
  width: 100%;
  margin-top: 2em;
  background-color: #d87d4a;
}
.checkout-buy-btn:hover {
  background-color: #fbaf85;
}
