*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}
.cta-button {
  height: 45px;
  font-weight: bolder;
  color: #ffffff;
  cursor: pointer;
  border: none;
  transition: 0.3s linear;
}
.checkout-item-container {
  width: 100%;
  height: 60px;
  margin-top: 0.9em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.checkout-item-container .checkout-item-info-container {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}
.checkout-item-container .checkout-item-info-container img {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  margin-right: 0.9em;
}
.checkout-item-container .checkout-item-info-container .checkout-item-info {
  width: 45%;
}
.checkout-item-container .checkout-item-info-container .checkout-item-info h5 {
  font-size: 1rem;
  font-weight: 800;
}
.checkout-item-container .checkout-item-info-container .checkout-item-info .checkout-price {
  color: #666666;
  font-size: 0.9rem;
  font-weight: 700;
}
.checkout-item-container .checkout-item-quantity {
  width: 10%;
  color: #666666;
  font-size: 0.9rem;
  font-weight: 800;
}
