*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}
.cta-button {
  height: 45px;
  font-weight: bolder;
  color: #ffffff;
  cursor: pointer;
  border: none;
  transition: 0.3s linear;
}
.checkout-form-container {
  width: 70%;
  background-color: #ffffff;
  border-radius: 15px;
  padding: 3em;
  border: 2px solid #cbcbcb;
}
.checkout-form-container .checkout-form-section {
  margin-top: 70px;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: column;
}
.checkout-form-container .checkout-form-section .input-error {
  color: #bb0000;
}
.checkout-form-container .checkout-form-section .input-error input {
  border: 2px solid #bb0000;
}
.checkout-form-container .checkout-form-section .input-error input:focus {
  border: 2px solid #bb0000;
}
.checkout-form-container .checkout-form-section h5 {
  color: #d87d4a;
}
.checkout-form-container .checkout-form-section label {
  font-size: 0.8rem;
  font-weight: 800;
}
.checkout-form-container .checkout-form-section input {
  width: 100%;
  height: 65px;
  border-radius: 10px;
  text-indent: 25px;
  border: 1px solid #cbcbcb;
  outline: none;
}
.checkout-form-container .checkout-form-section input:focus {
  border: 1px solid #d87d4a;
}
.checkout-form-container .checkout-form-section .checkout-section-container {
  width: 100%;
  height: 200px;
  margin-top: 20px;
  display: grid;
  grid-template-columns: auto auto;
}
.checkout-form-container .checkout-form-section .checkout-input-container {
  width: 90%;
  height: 120px;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: column;
}
.checkout-form-container .checkout-form-section .checkout-input-container .checkout-input-info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.checkout-form-container .checkout-form-section .checkout-input-container .checkout-input-info .input-error-message {
  display: none;
}
.checkout-form-container .checkout-form-section .checkout-input-container .checkout-input-info .show-error {
  display: block;
}
.checkout-form-container .payment-info-container {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}
.checkout-form-container .payment-info-container img {
  width: 60px;
  height: 60px;
}
.checkout-form-container .payment-info-container p {
  color: rgba(25, 25, 25, 0.525);
  font-size: 0.9rem;
}
@media screen and (max-width: 767px) {
  .checkout-form-container {
    width: 100%;
  }
  .checkout-form-container .checkout-form-section .checkout-section-container {
    grid-template-columns: 1fr;
    height: auto;
  }
  .checkout-form-container .checkout-form-section .shipping-info-container {
    grid-template-columns: 1fr;
  }
  .checkout-form-container .checkout-form-section .checkout-input-container {
    width: 100%;
  }
  .checkout-form-container .payment-info-container {
    height: auto;
    margin-top: 1em;
    justify-content: space-between;
  }
  .checkout-form-container .payment-info-container img {
    width: 40px;
    height: 40px;
    margin-right: 1em;
  }
  .checkout-form-container .payment-info-container p {
    font-size: 0.7rem;
  }
}
