*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}
.cta-button {
  height: 45px;
  font-weight: bolder;
  color: #ffffff;
  cursor: pointer;
  border: none;
  transition: 0.3s linear;
}
.footer-container {
  width: 100%;
  height: 350px;
  background-color: #000000;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.footer-container .footer-content-container {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  padding-top: 2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.footer-container .footer-content-container .logo-text-container {
  width: 50%;
  height: 90%;
  padding: 1em 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
}
.footer-container .footer-content-container .logo-text-container .footer-logo {
  font-size: 2rem;
  font-weight: 700;
}
.footer-container .footer-content-container .logo-text-container .footer-description {
  color: rgba(241, 241, 241, 0.482);
}
.footer-container .footer-content-container .logo-text-container small {
  color: rgba(241, 241, 241, 0.482);
  font-weight: bolder;
}
.footer-container .footer-content-container .footer-nav-social-container {
  width: 50%;
  height: 90%;
  padding: 2em 0;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  flex-direction: column;
}
.footer-container .footer-content-container .footer-nav-social-container nav {
  width: 80%;
}
.footer-container .footer-content-container .footer-nav-social-container nav .footer-categories-list {
  width: 100%;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.footer-container .footer-content-container .footer-nav-social-container .footer-socials {
  width: 17%;
  margin-top: 7em;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-direction: row;
}
