*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}
.cta-button {
  height: 45px;
  font-weight: bolder;
  color: #ffffff;
  cursor: pointer;
  border: none;
  transition: 0.3s linear;
}
.navbar,
.navbar-desktop,
.navbar-mobile {
  width: 80%;
  height: 90px;
  background-color: #191919;
  border-bottom: 0.7px solid #f1f1f1;
  position: relative;
}
.navbar-desktop {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.navbar-desktop .navbar-logo-container {
  width: 25%;
}
.navbar-desktop .navbar-logo-container .navbar-logo {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
}
.navbar-desktop .navbar-categories-list {
  width: 50%;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.navbar-desktop .cart-button-container {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
}
.navbar-desktop .cart-button-container .cart-button {
  width: 30px;
  height: 30px;
  background: none;
  border: none;
  background-image: url('../images/shared/desktop/icon-cart.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: auto;
  color: #ffffff;
  outline: none;
  cursor: pointer;
}
.navbar-mobile {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.navbar-mobile .navbar-mobile-logo-list {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.navbar-mobile .navbar-mobile-logo-list .navbar-logo {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
}
.navbar-mobile .cart-button-container {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
}
.navbar-mobile .cart-button-container .cart-button {
  width: 30px;
  height: 30px;
  background: none;
  border: none;
  background-image: url('../images/shared/desktop/icon-cart.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: auto;
  color: #ffffff;
  outline: none;
  cursor: pointer;
}
