.cta-button {
  height: 45px;
  font-weight: bolder;
  color: #ffffff;
  cursor: pointer;
  border: none;
  transition: 0.3s linear;
}
.navbar-desktop {
  width: 80%;
  height: 90px;
  background-color: #191919;
  font-family: "Manrope", sans-serif;
  border-bottom: 0.7px solid #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.navbar-desktop .logo-container {
  width: 25%;
}
.navbar-desktop .logo-container .navbar-logo {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
}
.navbar-desktop .navbar-categories-list {
  width: 50%;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.navbar-desktop .navbar-categories-list .navbar-list-element {
  color: #ffffff;
  text-decoration: none;
  letter-spacing: 0.8px;
  font-size: 0.9rem;
  font-weight: bolder;
  transition: 0.3s linear;
}
.navbar-desktop .navbar-categories-list .navbar-list-element:hover {
  color: #d87d4a;
  cursor: pointer;
}
.navbar-desktop .cart-button-container {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
}
.navbar-desktop .cart-button-container .cart-button {
  width: 30px;
  height: 30px;
  background: none;
  border: none;
  background-image: url('../images/shared/desktop/icon-cart.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: auto;
  color: #ffffff;
  cursor: pointer;
}
