*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}
.cta-button,
.product-preview-container .product-details .product-link-btn,
.product-card-container .product-presentation .product-description .add-to-cart-section .add-to-cart-btn {
  height: 45px;
  font-weight: bolder;
  color: #ffffff;
  cursor: pointer;
  border: none;
  transition: 0.3s linear;
}
.product-preview-container {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 11em;
  font-family: "Manrope", sans-serif;
}
.product-preview-container img {
  width: 45%;
}
.product-preview-container .product-details {
  width: 50%;
  height: 400px;
  box-sizing: border-box;
  padding: 4em;
  display: flex;
  align-items: left;
  justify-content: space-between;
  flex-direction: column;
}
.product-preview-container .product-details h2 {
  font-size: 2rem;
  margin: 10px 0;
  font-weight: bolder;
}
.product-preview-container .product-details p {
  color: #666666;
}
.product-preview-container .product-details .product-link-btn {
  width: 30%;
  margin: 1em 0;
  background-color: #d87d4a;
}
.product-preview-container .product-details .product-link-btn:hover {
  background-color: #fbaf85;
}
.product-card-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 100px;
}
.product-card-container .product-presentation {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.product-card-container .product-presentation img {
  width: 45%;
}
.product-card-container .product-presentation .product-description {
  width: 50%;
  height: 500px;
  box-sizing: border-box;
  padding: 1em;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
}
.product-card-container .product-presentation .product-description h1 {
  font-size: 2.5rem;
  font-weight: 700;
  width: 200px;
}
.product-card-container .product-presentation .product-description p {
  color: #666666;
}
.product-card-container .product-presentation .product-description .product-price {
  font-weight: bold;
  font-size: 1.2rem;
}
.product-card-container .product-presentation .product-description .add-to-cart-section {
  width: 60%;
  max-width: 370px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.product-card-container .product-presentation .product-description .add-to-cart-section .add-to-cart-btn {
  width: 55%;
  max-width: 200px;
  background-color: #d87d4a;
}
.product-card-container .product-presentation .product-description .add-to-cart-section .add-to-cart-btn:hover {
  background-color: #fbaf85;
}
.product-card-container .product-spec {
  width: 100%;
  height: 300px;
  margin-top: 5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.product-card-container .product-spec h3 {
  font-size: 1.5rem;
  font-weight: bolder;
  margin-bottom: 1em;
}
.product-card-container .product-spec .product-features {
  width: 60%;
  height: 100%;
}
.product-card-container .product-spec .product-features p {
  color: #666666;
}
.product-card-container .product-spec .product-in-the-box {
  width: 20%;
  height: 100%;
}
.product-card-container .product-spec .product-in-the-box ul {
  list-style: none;
  line-height: 2em;
}
.product-card-container .product-spec .product-in-the-box ul .product-box-pieces {
  color: #d87d4a;
  font-weight: bold;
  margin-right: 1em;
}
.product-card-container .product-spec .product-in-the-box ul .product-box-item {
  color: #666666;
}
.reverse {
  flex-direction: row-reverse;
}
@media screen and (max-width: 767px) {
  .product-preview-container {
    flex-direction: column;
    margin: 1em 0 9em;
  }
  .product-preview-container img {
    width: 100%;
  }
  .product-preview-container .product-details {
    width: 100%;
    height: 400px;
    padding: 2em;
    text-align: center;
    align-items: center;
  }
  .product-preview-container .product-details h2 {
    margin: 1em 0;
  }
  .product-preview-container .product-details .product-link-btn {
    width: 50%;
    margin-top: 1em;
  }
  .product-card-container {
    margin-bottom: 0;
  }
  .product-card-container .product-presentation {
    flex-direction: column;
  }
  .product-card-container .product-presentation img {
    width: 100%;
  }
  .product-card-container .product-presentation .product-description {
    width: 100%;
    padding: 1em 0;
  }
  .product-card-container .product-spec {
    align-items: flex-start;
    flex-direction: column;
    height: 800px;
  }
  .product-card-container .product-spec .product-features {
    width: 100%;
  }
  .product-card-container .product-spec .product-in-the-box {
    width: 60%;
    margin-top: 2em;
  }
}
